extends base_layout

block head

    - var titleVar = "YouTube Holiday Ornament Control Panel | Results"

block content
    div.container-fluid
        section
            div#results-container.container
                h1 Results:
                each heading, index in headings 
                    div.container.result-container
                        p= heading 
                        p 
                            a.btn-green.btn-pill(href=videos[index]) Play
                        hr
                form(action='/')
                    input.btn-green.btn-go-back(type='submit' value='Go back')

