:root
{
    /* Colors */
    --main-font-color: #4d4d4d;
    --main-border-color: #cccccc;
    --main-background-color: #EAEAE9;
    --footer-bottom-background-color: #c1c1be;
    --footer-top-background-color:  #8f8f8a;
    --christmas-green-color: #00873E;
    --christmas-red-color:#ff0000;
    --pure-white-color: #ffffff;

    /* Typography */
    --heading-font: 'Mountains of Christmas', cursive;
    --main-font: 'Roboto', sans-serif;

    /* Spacing */
    --margin-top-xsm: 10px;
    --margin-top-sm: 20px;
    --margin-top-med: 30px;
    --margin-top-lg: 40px; 
    --margin-top-xlg: 50px;

    --margin-bottom-xsm: 10px;
    --margin-bottom-sm: 20px;
    --margin-bottom-med: 30px;
    --margin-bottom-lg: 40px;
    --margin-bottom-xlg: 50px;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: var(--main-font);
    color:var(--main-font-color);
    background-color: var(--main-background-color);
}
.hero
{
    background-image: url("/img/background.jpg");
    min-height: 130px;
    width: auto;
    background-size:cover;
    background-repeat: no-repeat; 
}

#copyright-text
{
    font-size:small;
}

footer
{
    display: none;
    width: 100%;
    left: 0;
}

footer ul
{
    text-align: center;
    list-style-type: none;
}

footer li
{
    display: inline-block;
    padding: 20px;
}

footer li a
{
    display: block;
}

#footer-top
{
    background-color: var(--footer-top-background-color);
}

#footer-bottom
{
    background-color: var(--footer-bottom-background-color);
}

#footer-top, #footer-bottom
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: var(--main-font-color);
}
a:hover
{
    color: var(--christmas-green-color);
    font-weight: 600;
}
#settings-lnk
{
    text-align: center;
}
.center-text
{
    text-align: center;
}

h1, h2
{
    font-family: var(--heading-font);
    font-size: 24px;
    text-align:center;
    color: var(--christmas-red-color);
    background-color: var(--main-background-color);
}

.btn-green
{
    font-family: var(--main-font);
    background-color: var(--christmas-green-color);
    color: var(--pure-white-color);
    font-weight: 600;
}
.btn-red
{
    font-family: var(--main-font);
    background-color: var(--christmas-red-color);
    color: var(--pure-white-color);
    font-weight: 600;
}
.btn-go-back
{
    width: 50%;
    padding: 14px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-pill
{
    width: 100%;
    padding: 14px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.form-wrapper input[type=submit]
{
    width: 50%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-green:hover
{
    background-color: var(--pure-white-color);
    color: var(--christmas-green-color);
    border-style: solid !important;
    border-color: var(--christmas-red-color) !important;
    border-width: 0.5px !important;
}

.btn-red:hover
{
    background-color: var(--pure-white-color);
    color: var(--christmas-red-color);
    border-style: solid !important;
    border-color: var(--christmas-green-color) !important;
    border-width: 0.5px !important;
}
.content-wrapper-absolute
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-flex-row
{
    display:flex;
    justify-content:space-between;
    margin-top: var(--margin-top-lg);
    margin-bottom: var(--margin-bottom-lg);
}

.form-wrapper
{
    text-align:center;
    margin-top: var(--margin-top-lg);
    margin-bottom: var(--margin-bottom-lg);
}

.form-wrapper label
{
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--main-font-color);
}

.form-wrapper input[type=text], select
{
    width: 100%;
    padding: 8px 10px;
    margin-top: var(--margin-top-xsm);
    margin-bottom: var(--margin-bottom-xsm);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
}

.page-404
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.page-404 h1
{
    margin-bottom: var(--margin-bottom-xlg);
}

.page-404 .btn-go-back
{
    width: 100%;
}

.btn-flex-col
{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: var(--margin-top-lg);
    margin-bottom: var(--margin-bottom-lg);
}

.btn-flex-col form
{
    margin: 20px;
}
.result-container
{
    margin-top: var(--margin-top-med);
    margin-bottom: var(--margin-bottom-med);
}

.result-container p
{
    margin-bottom: var(--margin-bottom-sm);
}

#results-container h1
{
    margin-bottom: var(--margin-bottom-med);
}

#results-container
{
    margin-top: var(--margin-top-lg);
    margin-bottom: var(--margin-bottom-lg);
}

/* IPad portrait */
@media only screen and (min-device-width: 768px)
{
    .btn-go-back
    {
        width: 30%;
    }
    
    .form-wrapper input[type=text]
    {
        width: 50%;
    }

    .btn-flex-row
    {
        max-width: 75%;
    }
    .btn-flex-col
    {
        max-width: 30%;
    }

    footer
    { 
        display:block;
        margin-top: var(--margin-top-xlg);
        position:fixed;
        bottom: 0;
    } 
    footer .container-fluid
   {
        padding-left: 0;
        padding-right: 0;
   }

    .hero
    {
        min-height: 200px;
        width: auto;
    }

    .form-wrapper label
    {
        font-size: 16px;
    }

    h1, h2
    {
        font-size: 28px;
    }

    #results-container
    {
        margin-top: 0;
        margin-bottom: 200px;
    }
}

/* IPad landscape */
@media only screen and (min-device-width: 1024px)
{
    .hero
    {
        min-height: 130px;
        width: auto;
    }
    .btn-flex-row
    {
        max-width: 50%;
    }
    #results-container .btn-go-back
    {
        max-width: 20%;
    }
}

/* Desktop */
@media only screen and (min-device-width: 1281px)
{
    .btn-go-back
    {
        width: 20%;
    }
    #results-container .btn-go-back
    {
        max-width: 15%;
    }
}

/* Large desktop */
@media only screen and (min-device-width: 1920px)
{
    h1, h2
    {
        font-size: 32px;
    }
}